
<html lang="en">
	<head>
		<title>{{ file_name }}</title>
		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <link rel="stylesheet" type="text/css" href="../static/css/visualize.css">
        <link rel="stylesheet" type="text/css" href="../static/css/sweetalert.css">
        <link rel="stylesheet" type="text/css" href="../static/css/waves.min.css">
	</head>
	<body>

        <div id="loading" class="sidebar top load">
            <div id="loadgraphics" class="sidebar top load">
                <img id="gif" class="sidebar top" src="../static/img/box.gif">
                <div id="status" class="sidebar top"></div>
            </div>
        </div>
		<div id="container">
            <div id="info">
                shift-click: select user <br>
                option-click: select cluster
            </div>
            <div class="editorbox">

                 <div id="savefunc" class="textbutton">
                        Save
                    </div>
                 <div id="deletefunc" class="textbutton">
                        Delete
                    </div>

                    <div id="applyfunc" class="textbutton">
                        Apply
                    </div>
                    <div id="testfunc" class="textbutton">
                        Test
                    </div>
            </div>
               <pre id="editor">var myColor = function(node){
        // your code here
        // return an array like [0, 0.4, 1];
    };</pre>
            <div class="pg" id="pageone">
                        <div class="button closebutton" >
                            <img src="../static/img/cancel.svg" id="closeicon">
                        </div>
                        <img class="profileImg" src="">
                        <h3 class="title"></h3>
                        <h5 class="caption"></h5>
                        <div class="description"></div>
                        <div class="location"></div>
                    </div>
            <div id="userhud" class="sidebar right hud">
                <div class="userbuttons">
                    <div class="button hudbutton usericon"  id="user-user">
                        <img src="../static/img/target.svg" class="menuimg"  id="user-cluster">
                    </div>
                    <div  class="button hudbutton clustericon">
                        <img src="../static/img/rdf.svg" class="menuimg" >
                    </div>
                </div>
                <div class="content">
                    <input id="search" type="text" placeholder="search username" />
                    <div id="toggleColors" class="textbutton">
                        Color by WNF
                    </div>
                    <div id="selectFilter" class="textbutton">
                        Select coloring method
                    </div>
                    <div id="newFilter" class="textbutton">
                        Custom coloring
                    </div>
                    <div class="functions">
                    </div>

                </div>
		    </div>
            <div id="clusterhud" class="sidebar right hud">
                <div class="clusterbuttons">
                    <div class="button hudbutton usericon">
                        <img src="../static/img/target.svg" class="menuimg" >
                    </div>
                    <div  class="button hudbutton clustericon">
                        <img src="../static/img/rdf.svg" class="menuimg" >
                    </div>
                </div>
                <div id="separate" class="textbutton">
                    Separate Clusters
                </div>
                <div id="labels">
                    <div class="textbutton" id="showlabels" >
                        Show labels
                    </div>
                    <div class="textbutton" id="hidelabels">
                        Hide labels
                    </div>
                </div>
                <div id="clusterlist" class="list">

                </div>
		    </div>
        </div>

        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://code.createjs.com/createjs-2015.05.21.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="{{ base_url }}webgl-frameworks/three.min.js"></script>
        <script src="{{ base_url }}GraphProc/gexf/build/gexf.min.js"></script>
        <script src="../static/js/sweetalert.min.js"></script>
        <script src="../static/js/jquery.sidebar.min.js"></script>
        <script src="../static/js/waves.min.js"></script>
        <script src="{{ base_url }}GraphProc/gexf/build/gexf.min.js"></script>
        <script src="{{ base_url }}GraphProc/gexf/build/gexf.min.js"></script>
        <script src="{{ base_url }}GraphProc/GraphProc.js"></script>
        <script src="{{ base_url }}tween.min.js"></script>
        <script src="{{ base_url }}TimeShift/SpriteSet.js"></script>
        <script src="{{ base_url }}TimeShift/FunctionParser.js"></script>
        <script src="{{ base_url }}TimeShift/Hud.js"></script>
        <script src="{{ base_url }}TimeShift/Graphics.js"></script>
        <script src="{{ base_url }}TimeShift/Cluster.js"></script>
        <script src="{{ base_url }}TimeShift/GraphRenderer.js"></script>
        <script src="{{ base_url }}TimeShift/Timeshift.js"></script>
        <script src="../static/js/stats_mod.js"></script>
        <script src="{{ base_url }}TrackballControls.js"></script>
        <script src="{{ base_url }}src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

		<script>

            /*
            GLOBALS
             */

            Waves.attach('#separate');
            Waves.attach('.textbutton');
            Waves.attach('.button');
            Waves.init({duration:700});
            var model_name = '{{ file_name }}';
            var timeShift = null;
            var graphRenderer = null;
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.getSession().setMode("ace/mode/javascript");
            $("#loading").sidebar({side: "top", isClosed : "false"});
            $("#status").text("downloading data");

            $.get('../api/get_functions?graph_id=' + model_name, function(data){
               var functions = JSON.parse(data);
               functions.forEach(function(f){
                   var thumb = generateFuncThumb(f.name);
                   thumb.click(function(){
                      editSavedFunction(f.function);
                   });
                   thumb.appendTo($(".functions"));
               });
            });
            $.get('../api/json?model_id=' + model_name, function(data){
                $("#status").text("copying to gpu");
                var d = JSON.parse(data);
                console.log(d)
                if( !(Object.prototype.toString.call( d ) === '[object Array]')){
                    d = [d];
                }
                else{
                    d = d.map(function(o){ return JSON.parse(o)});
                }
                timeShift = new TimeShift(d ,document.getElementById('container'));
                //graphRenderer.loadGraph(JSON.parse(data), '{{ data_type }}');
                //graphRenderer.synchronizeGraphicsObjects(graphRenderer.graph);
                timeShift.stats.domElement.style.top = '0px';
                timeShift.stats.domElement.style.margin = '15px';
                timeShift.stats.domElement.style.position = 'absolute';

                document.getElementById('container').appendChild( timeShift.stats.domElement );
                $(".sidebar.top").trigger("sidebar:toggle");
                var ij = 0;
                graphRenderer = timeShift.currentNetwork();
                graphRenderer.clusterList.forEach(function(cid){
                    try{
                        var cluster = graphRenderer.clusters[cid];
                        var phrases = cluster.meta_data.phrases[0].counts.slice(1,6).map(function(o){
                           return o.phrase;
                        }).sort(function(a,b){return a.count < b.count}).join(', ');
                        var locations = cluster.meta_data.phrases[1].counts.slice(1,6).map(function(o){
                           return o.phrase;
                        }).sort(function(a,b){return a.count < b.count}).join(', ');
                        var title = cluster.meta_data.id.length >= 20 ? cluster.meta_data.id.slice(0,20) + "..." : cluster.meta_data.id;
                        var thumb = generateThumb(title, phrases, cluster.meta_data.metrics);
                        thumb.click(function(){
                            cluster.toggleActivation();
                        });

                        thumb.appendTo($("#clusterlist"));
                        cluster.dom = thumb;
                        cluster.setTextSprite(2, graphRenderer, cluster.color);
                    }
                    catch(e){
                        console.log(e);
                    }
                ij++;
                });

                animate();
                function animate() {
                    TWEEN.update();
                    requestAnimationFrame( animate );
                    timeShift.renderScene();
                    timeShift.stats.update();
                    timeShift.controls.update();
                }
            });

		</script>
	</body>
</html>
